<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<Properties xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes" xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties">
    <Template>2018-Internal Amkor Corporate Template</Template>
    <Company>Amkor</Company>
    <PresentationFormat>On-screen Show (16:9)</PresentationFormat>
    <Paragraphs>0</Paragraphs>
    <Slides>1</Slides>
    <Notes>0</Notes>
    <TotalTime>2400</TotalTime>
    <HiddenSlides>0</HiddenSlides>
    <MMClips>0</MMClips>
    <ScaleCrop>0</ScaleCrop>
    <HeadingPairs>
        <vt:vector baseType="variant" size="6">
            <vt:variant>
                <vt:lpstr>Fonts used</vt:lpstr>
            </vt:variant>
            <vt:variant>
                <vt:i4>5</vt:i4>
            </vt:variant>
            <vt:variant>
                <vt:lpstr>Theme</vt:lpstr>
            </vt:variant>
            <vt:variant>
                <vt:i4>1</vt:i4>
            </vt:variant>
            <vt:variant>
                <vt:lpstr>Slide Titles</vt:lpstr>
            </vt:variant>
            <vt:variant>
                <vt:i4>1</vt:i4>
            </vt:variant>
        </vt:vector>
    </HeadingPairs>
    <TitlesOfParts>
        <vt:vector baseType="lpstr" size="7">
            <vt:lpstr>Arial</vt:lpstr>
            <vt:lpstr>Verdana</vt:lpstr>
            <vt:lpstr>Segoe UI Symbol</vt:lpstr>
            <vt:lpstr>Calibri</vt:lpstr>
            <vt:lpstr>Calibri Light</vt:lpstr>
            <vt:lpstr>042818_External-AmkorCorpTemplate</vt:lpstr>
            <vt:lpstr>PowerPoint Presentation</vt:lpstr>
        </vt:vector>
    </TitlesOfParts>
    <LinksUpToDate>0</LinksUpToDate>
    <SharedDoc>0</SharedDoc>
    <HyperlinksChanged>0</HyperlinksChanged>
    <Application>Aspose.Slides for .NET</Application>
    <AppVersion>21.0700</AppVersion>
</Properties>